img.carImage {
    height: 120px;
    max-width: initial;
    pointer-events: none;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
}

.content {
    margin: 5px;
    padding: 10px 5px;
    background-color: #fff;
    border-radius: .25rem;
}