.todo {
    border: 1px solid lightgray;
    padding: .5rem;
    width: fit-content;
    border-radius: 8px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    transition: all .5s ease;
}

.text {
    color: white;
}

.text:hover {
    color: black;
}

.upcoming {
    background-color: red;
}

.upcoming:hover {
    background-color: pink;
}

.completed {
    background-color: green;
}

.completed:hover {
    background-color: lightgreen;
}